@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Welcome to AvoidScams.info, an informational website dedicated to informing laymen internet surfers of common scams and phishing you should always avoid. </p>
</div>
